{
  email admin@shahrmeeting.ir
}

{$LIVEKIT_DOMAIN} {
  encode zstd gzip
  reverse_proxy 127.0.0.1:7880
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
  }
}

{$LIVEKIT_INGRESS_DOMAIN} {
  encode zstd gzip
  reverse_proxy 127.0.0.1:8080
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
  }
}
